{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le profil</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.pays) }}
        {{ form_row(form.password) }}
        {{ form_row(form.passwordVerification) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
