{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil</h1>
    <p>Bienvenue, {{ app.user.firstname }} {{ app.user.username }} !</p>
    <ul>
        <li>Email : {{ app.user.email }}</li>
        <li>Adresse : {{ app.user.adresse }}</li>
        <li>Ville : {{ app.user.ville }}</li>
        <li>Pays : {{ app.user.pays }}</li>
        <li>Id : {{ app.user.iduser }}</li>
        <a href="{{ path('modifier_profil') }}" class="nav-link">
            <button style="font-size: 150%; text-transform: none; color:white; display: inline-block; border:none; background-color:#27476E">
				Modifier le profil
			</button>
        </a>
        <a href="{{ path('historique') }}" class="nav-link">
            <button style="font-size: 150%; text-transform: none; color:white; display: inline-block; border:none; background-color:#27476E">
				Voir l'historique des commandes
			</button>
        </a>
    </ul>
{% endblock %}
